{% extends '/backend/layout.twig' %}

{% block content %}
  <div class="container-fluid">

    <h1 class="h3 mb-2 text-gray-800">Gestionnaire des commentaires</h1>
    <p class="mb-4">Ajoutez, suprimez, ou modifiez des commentaires.</p>

    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Commentaires</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>#</th>
                <th>Identifiant du billet</th>
                <th>Auteur</th>
                <th>Contenu du commentaire</th>
                <th>Date</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>#</th>
                <th>Identifiant du billet</th>
                <th>Auteur</th>
                <th>Contenu du commentaire</th>
                <th>Date</th>
                <th>Actions</th>
              </tr>
            </tfoot>
            <tbody>
              {% set number0fElements = 0 %}

              {% for data in comments %}
                {% if data is empty %}
                  <p>Il n'y a pas de billet à afficher!</p>
                {% else %}
                  {% set number0fElements = number0fElements + 1 %}
                  <tr>
                    <td>{{ data['id'] }}</td>
                    <td>
                      <a href="index.php?action=editPost&amp;id={{ data['post_id'] }}">{{ data['post_id'] }}</a>
                    </td>
                    <td>{{ data['author'] | striptags | raw }}</td>
                    <td>{{ data['comment'] | striptags | raw }}</td>
                    <td>{{ data['comment_date_format'] | striptags | raw  }}</td>
                    <td>
                      <a href="index.php?action=editComment&amp;id={{ data['id'] }}" class="edit" title="Modifier">
                        <i class="material-icons"></i>
                      </a>
                      <a href="index.php?action=deleteComment&amp;idComment={{ data['id'] }}" class="delete" title="Supprimer" onclick="return deleteDialog()">
                        <i class="material-icons"></i>
                      </a>
                    </td>
                  </tr>
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="clearfix">
          <div class="hint-text">Affichage de
            <b>{{ number0fElements }}</b>
            entrées sur
            <b>{{ number_total_comments }}</b>
          </div>
          <ul class="pagination">
            <li class="page-item">
              {% if page > 1 %}
                <a href="index.php?action=commentsList&amp;page={{ page - 1 }}" class="page-link">&laquo;</a>
              {% endif %}
            </li>
            {% for key in 1..number_of_pages %}
              <li class="page-item">
                <a href="index.php?action=commentsList&amp;page={{ key }}" class="page-link">{{ key }}</a>
              </li>
            {% endfor %}
            <li class="page-item">
              {% if page < number_of_pages %}
                <a href="index.php?action=commentsList&amp;page={{ page + 1 }}" class="page-link">&raquo;</a>
              {% endif %}
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
{% endblock %}
